*{
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}
body{
	width: 100%;
	height: auto;
	margin: 0px;
	padding: 0px;
	background-color: #222;
}
.container{
	width: 300px;
	height: 300px;
	margin: 100px auto;
	border: 5px solid #FF7F50;
	padding: 50px 150px;
	border-radius: 150px;
	color: #FFFFFF;
	background-image: url(../images/clock.png);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: -1px;
}

#foo-second{
	width: 2px;
	height: 200px;
	background-color: transparent;
	margin-top: -200px;
}
#second{
	width: 2px;
	height: 100px;
	background-color: #00008B;
}

#foo-minute{
	width: 4px;
	height: 200px;
	background-color: transparent;
	margin-top: -200px;
}
#minute{
	width: 4px;
	height: 80px;
	background-color: #ffcc00;
}
#minute2{
	width: 4px;
	height: 20px;
	background-color: transparent;
}

#foo-hour{
	width: 6px;height: 200px;
	background-color: transparent;
}
#hour{
	width: 6px;
	height: 60px;
	background-color: rgb(255,69,0);
}
#hour2{
	width: 6px;
	height: 40px;
	background-color: transparent;
}